<footer class="page-footer">
  <div class="page-footer__container">
    <section class="footer-content">
      <div class="footer-content__wrap">
        <h2 class="visually-hidden">Footer content</h2>
        <div class="footer-content__about">
          <img class="footer-content__logo" src="@img/gallery/logo-footer.png" alt="logotype">
          <p class="footer-content__text">Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc
            quam ac
            sed turpis volutpat. Cursus sed massa non nisi, placerat.</p>
          <div class="footer-content__social-block">
            <a class="footer-content__social-link" href="#"></a>
            <a class="footer-content__social-link" href="#"></a>
            <a class="footer-content__social-link" href="#"></a>
            <a class="footer-content__social-link" href="#"></a>
          </div>
        </div>
        <ul class="footer-content__list">
          <li class="footer-content__item">
            <h3 class="footer-content__subtitle">Market place</h3>
            <ul class="footer-content__submenu">
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Overview</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Features
                  <span class="footer-content__element">new</span></a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Tutorials</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Pricing</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Releases</a></li>
            </ul>
          </li>
          <li class="footer-content__item">
            <h3 class="footer-content__subtitle">Collectibles</h3>
            <ul class="footer-content__submenu">
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">About</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Press</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Careers</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Contact</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Partners</a></li>
            </ul>
          </li>
          <li class="footer-content__item">
            <h3 class="footer-content__subtitle">Support</h3>
            <ul class="footer-content__submenu">
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Help
                  Center</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Safety
                  Center</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Legal</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Privacy
                  policy</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Status
                </a></li>
            </ul>
          </li>
          <li class="footer-content__item">
            <h3 class="footer-content__subtitle">Legal</h3>
            <ul class="footer-content__submenu">
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Cookies
                  Policy</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Privacy
                  Policy</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Terms of
                  Service</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Law
                  Enforcement</a>
              </li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Status</a></li>
            </ul>
          </li>
          <li class="footer-content__item">
            <h3 class="footer-content__subtitle">Follow us</h3>
            <ul class="footer-content__submenu">
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Facebook</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Twitter</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Dribbble</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">Instagram</a></li>
              <li class="footer-content__subitem"><a class="footer-content__social-nav" href="#">LinkedIn</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section class="footer-copyright">
      <div class="footer-copyright__wrap">
        <h2 class="visually-hidden">Footer copyright</h2>
        <div class="footer-copyright__block-link">
          <p class="footer-copyright__par"><a class="footer-copyright__link">Terms & Conditions</a></p>
          <p class="footer-copyright__par"><a class="footer-copyright__link">Privacy Policy</a></p>
          <p class="footer-copyright__par"><a class="footer-copyright__link">Sitemap</a></p>
        </div>
        <p class="footer-copyright__text">© 2020 Landify UI Kit. All rights reserved</p>
      </div>
    </section>
  </div>
</footer>